<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs', {title: 'Inicio' }) %>

    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->

            <section class="wrap wrap-content">
                <section id="info">

                    </div>
                </section>
                <section id="cerveza">

                    <div id="contenedor">
                        <div>
                            <img src="/img/products/<%=productId.image %>" alt="" class="profile-imagen zoom-image">
                        </div>

                        <div>
                            <h2 class="profile-name"><%= productId.name %></h2> 
                        </div>

                        <div class="profile-details">
                            <div class="profile-product"> 
                                <p>Precio $
                                <%= productId.price %></p>
                            </div>

                            <div class="profile-product">
                                <hr> 
                                <strong>Descripción:</strong> 
                                <%= productId.description %>
                            </div>
                        </div>
                    </div>
                    <div class="profile-button">
                        <a href="/product/edit/<%= productId.id %>">
                            <button class="zoom-button">Editar Producto</button>
                        </a>
                        <form action="/product/delete/<%= productId.id %>?_method=DELETE" method="POST">
                            <button class="zoom-button" type="submit">Eliminar</button>
                        </form>
                    </div>

                    </div>
                </section>
            </section>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Inicio Footer-->


                <!--Script-->
                <script src="/js/navScript.js"></script>
    </body>

</html>