<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title: 'Inicio' }) %>


    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->

            <section class="wrap wrap-content wrap-banner">
                <section id="info">

                    <!--Inicio banner-->
                    <%- include('partials/banner.ejs') %>

                        <!--Fin banner-->

                        </div>

                </section>
                <!--Inicio articulos-->
                <h2 class="title-index">Nuestros Productos</h2>
                <div class="listing-section">
                    
                    <% products.forEach(product => { %>
                    <div class="product">
                            <div class="image-box">
                                <div class="images" >
                                     <img src="/img/products/<%= product.image %>" width="280" height="250" alt="">
                                </div>
                            </div>
                            <div class="text-box">
                                <h2 class="item"><%= product.name %></h2>
                                <h3 class="price"><%= product.price %></h3>
                                <p class="description">A bag of delicious oranges!</p>
                                <label class="label" for="item-1-quantity">Quantity:</label>
                                <input class="input" type="text" name="item-1-quantity" id="item-1-quantity" value="1">
                               <div class="info-product"> <a href="/cart">Ir al carrito</a></div>
                            </div>
                        </div>
                        <% }) %>
                  
                   
                  
                  </div>
                  
                  
                <!--Fin articulos-->




            </section>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Inicio Footer-->


                <!--Script-->
                <script src="/js/navScript.js"></script>
    </body>


</html>