<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->
            <div id="list-user">
                <div class="panel-users">
                    <% users.forEach((user) => {%>
                        <div id="box-profile-users">
                            <div class="profile-users">
                              <img src="/img/imageUsers/<%=user.avatar %>" alt="">  
                            </div>

                            <div class="profile-users">
                                <%= user.name %>
                            </div>

                            <div class="profile-users">
                                <%= user.email %>
                            </div>

                            <div class="profile-users">
                                <%= user.country%>
                            </div>
                        </div>
                        <% } )%>
                </div>
            </div>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Fin Footer-->

                 <!--Script-->
                 <script src="/js/navScript.js"></script>
    </body>

</html>