<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {title: 'Detalles de Productos'}) %>


<body>
<!--Inicio cabecera-->
<%- include('partials/header.ejs') %>
<!--Fin cabecera-->

<div id="list-user">
    <div class="panel-users">
        <% products.forEach((product) => { %>

            <div id="box-profile-product">
                <a href="/product/details/<%= product.id %>">
                    <div class="profile-product">
                        <img src="/img/products/<%= product.image %>" alt="">
                    </div>

                    <div class="profile-product">
                        <%= product.name %>
                    </div>

                    <div class="profile-product">
                        <%= product.price %>
                    </div>

                    <div class="profile-product">
                        <%= product.description %>
                    </div>
                </a>
            </div>
        <% } ) %>
    </div>
</div>


<!--Inicio Footer-->
<div class="clearfix"></div>
<%- include('partials/footer.ejs') %>

<!--Fin Footer-->

<!--Script-->
<script src="/js/navScript.js"></script>
</body>

</html>