<!DOCTYPE html>
<html lang="en">


<%- include('partials/head.ejs', {title: 'Perfil de usuario' }) %>

    <body>
        <!--Inicio cabecera-->
        <%- include('partials/header.ejs') %>
            <!--Fin cabecera-->

            <section class="wrap wrap-content wrap-banner profile-user">

                <div id="container-profile">
                    <div class="container-welcome">
                        <img class="img-profile"
                            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                            alt="Foto de perfil">
                        <h2 class="title">Bienvenido <%= user.name %>
                        </h2>
                    </div>
                    <div class="panel-profile">
                        <i class="fa-solid fa-user"></i>
                        <p class="rol">Admin</p>
                        <i class="fa-solid fa-flag"></i>
                        <p class="country"><%= user.country %>
                        </p>
                    </div>
                    <div class="button-profile">
                        <button>Editar perfil</button>
                    </div>
                </div>

            </section>
            <!--Inicio Footer-->
            <div class="clearfix"></div>
            <%- include('partials/footer.ejs') %>

                <!--Inicio Footer-->


                <!--Script-->
                <script src="/js/navScript.js"></script>
    </body>

</html>